<!DOCTYPE HTML>
<html>
    <head>
        <title>Timed-Up</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/mainlogo.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>-->
        <script src="/dhtmlxScheduler_v4.4.0/codebase/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
        <script src="/dhtmlxScheduler_v4.4.0/codebase/ext/dhtmlxscheduler_limit.js"></script>
        <script src="/dhtmlxScheduler_v4.4.0/codebase/ext/dhtmlxscheduler_collision.js"></script>
        <script type="text/javascript" src="/clock.js"></script>
        <link rel="stylesheet" href="/dhtmlxScheduler_v4.4.0/codebase/dhtmlxscheduler.css" type="text/css" charset="utf-8">
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.4.2/flatpickr.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/2.4.2/flatpickr.js"></script>-->
    </head>
    <body>
    <div class="row mainrow">
            <div class="col-sm-3 navig">
                <nav class = "navbar navbar-default navbar-fixed-side" role="navigation">
                    <div class = "navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-exi-collapse">
                        <span class="sr-only"> Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<p class='thetitle'><a class = "navbar-brand" href = "/">Timed-UP</a></p>-->
                    <div class="mainsvg">
                        <% include ../clock.svg %>
                    </div>
                    
                    </div>
                    <div class="navbar collapse navbar-collapse navbar-exi-collapse">
                        <ul class = "nav navbar-nav">
                        <% if(!currentUser) { %>
                            <li><a href = "/login">Login</a></li>
                            <li><a href = "/register">Sign Up</a></li>
                        <% } else { %>
                        
                            <hr>
                            <% if(currentUser.slack.username) {%>
                                <li>
                                <p class="hasSlack myname"> Signed in as: 
                                <img height='30' width='30' style="border-radius:50%"src="<%= currentUser.slack.avatar %>"><strong><%= currentUser.slack.username %></strong>
                                </p>
                                </li>
                            <% } else { %>
                                <li><p class="myname text-center"> Signed in as: <strong><%= currentUser.username %></strong></p></li>
                            <% } %>
                            <br>
                            <ul class="navbut">
                                <li class="times">
                                    <a href="/myschedule" class="btn btn-default btn-lg">My Free Time</a>
                                </li>
                                <br>
                                <li class="myowngroups">
                                    <a href="/" class="btn btn-default btn-lg">My Groups</a>
                                </li>
                            </ul>
                            <br>
                            <hr>
                            <h3 class="text-center">My Friendlist</h3>
                                <input autocomplete="off" type="text" id="friendsearch"name="nfriend[friendname]" class="form-control input-md" placeholder="Friend's Username">
                            <div id="popupbox">
                            </div>
                            <div class="friendlist">
                                <div class='menu local row' style='display:"inline-block"'>
                                    <h5 class='col-xs-4 btn btn-default allfriends activenow'>all</h5>
                                    <h5 class='col-xs-4 btn btn-default localfriends'>local</h5>
                                    <h5 class='col-xs-4 btn btn-default slackfriends'>slack</h5>
                                </div>
                                <div class="myfriendlist">
                                </div>
                            </div>
                            <br>
                            <hr>
                            <li><a class="btn btn-default" href = "/logout">Logout</a></li>
                            <ul class="dropdown-menu groups">
                            </ul>
                        <% } %>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-sm-9 landing">
                <% if(error && error.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                <% } %>
