
<% include partials/header %>
<script type="text/javascript" src="/javascript.js"></script>

    <% if(currentUser) { %>

        
        <div class="maintab">
            <!--<div class="switch">
                <h2 class="btn btn-default active2" style="text-align: center;"><strong>My Groups</strong></h2>
                <h2 class="btn btn-default" style="text-align: center;"><strong>Included Groups</strong></h2>
            </div>-->
            <div class="mtab">
                <h2 class="text-center"><strong>My groups</strong></h3>
                <form class="input-append" id="creategroup">
                    <input type="text" name="groupname" id="groupname" placeholder="Group name" maxlength="20" required>
                    <button id="addgroup" class="btn" type="submit">Create Group</button>
                </form>
                <div>
                    <div id="groups" class="row" style="display:flex;">
                    
                    </div>
                </div>
                <h3 class="text-center">You are included in the following groups:</h3>
                <div class="incgroups inctab">
                
                <% if(list.groups.length > 0) { %>
                    <% //console.log("groups" + list.groups + "endgrouppsssss") %>
                        
                        <% list.groups.forEach(function(group){ %>
                        <%// console.log("slackkkk: " + JSON.stringify(group.authid.slack).length  + "enddddddd" ) %>
                            <% if(JSON.stringify(group.authid.slack).length > 2) { %>
                                <a class="btn btn-default" href="/<%= group.groupid._id %>"><p class="firstone"><%= group.groupid.name %> </p><p>made by </p><p><%= group.authid.slack.username %></p></a>
                            <% }  else { %>
                                <a class="btn btn-default" href="/<%= group.groupid._id %>"><p class="firstone"><%= group.groupid.name %> </p><p>made by </p><p><%// console.log("username: " + group.authid.username) %><%= group.authid.username %></p></a>
                            <% } %>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    
    <br>
<% } else { %>
    <h1> Please register or login</h1>
<% } %>
    



<% include partials/footer %>